@use "../variables" as v;
.btn {
	display: block;
	min-width: 4.6875em;
	width: 100%;

	background-color: v.$purple;
	padding: 0.75em;
	text-align: center;
	color: v.$blue-dark;
	border: none;
	border-radius: 0.375em;
	font-weight: 600;
	cursor: pointer;
}
.Cancel {
	background-color: v.$purple;
}
.Confirm {
	background: v.$white;
}
.Sign {
	background-color: v.$purple;
}
