// Fonts
$font-family: Montserrat, Helvetica, Arial, sans-serif;

// Colors
$white: #f3f4f6;
$black: #000000;
$blue-dark: #111827;
$gray-opacity: #9ca3af;
$purple: #a78bfa;
$error: #d84668;

// Neumorphism (gradient, shadow)
$blue-dark-gradient: linear-gradient(145deg, #0f1623, #121a2a);
$blue-dark-shadow: 1.1875em 1.1875em 3.0625em #0b0f18,
	-1.1875em -1.1875em 3.0625em #172136;
